.h-center {
  font-family: "Segoe UI Light", sans-serif;
  color: #8f8f8f;
  font-weight: 900;
}

.list {
  margin-top: 10px;
}

.button-delete {
  margin-left: 550px;
  padding: 0 10px;
  border-radius: 5px;
  color: #747480;
  transition: 0.2s;
  background: #e3e3e4;
  border: none;
}

.button-delete:hover {
  box-shadow: 2px 2px 6px #147980;
}