.md-search {
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #ababb0;
  border-radius: 25px;
  padding: 7px;
  margin: -36px 0 57px 135px;
  transition: 0.3s;
  width: 900px;
}

.search input {
  border: none;
  background-color: #ababb0;
  color: black;
}

.search input:focus {
  outline: none;
}

.inp {
  margin-left: 5px;
  width: 900px;
}
.search:hover {
  box-shadow: 0 0 5px 3px #ffffff;
}