.md-search {
  margin-left: 5px;
}

.search {
  display: flex;
  align-items: center;
  background-color: #e5e5e5;
  border-radius: 25px;
  padding: 7px;
  margin: 10px 0 57px 135px;
  transition: 0.3s;
}

.search input {
  border: none;
  background-color: #e5e5e5;
}

.search input:focus {
  outline: none;
}

.inp {
  margin-left: 5px;
  width: 1000px;
}
.search:hover {
  box-shadow: 0 0 5px 3px #147980;
}