body {
  background-color: #273746 !important;
  /*background-color: #0d1118;*/
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #b0afaf;
  margin: 6px 0 0 40px;
  transition: 0.4s;
  z-index: 1000;
  position: relative;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.open .navigation {
  width: 300px;
}

.navigation {
  width: 0;
  height: 100%;
  /*background-color: #2980B9;*/
  background-color: #3a4f67;
  overflow: hidden;
  color: white;
  padding-top: 150px;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  transition: 0.2s;
}

.link {
  font-family: "Segoe UI Light", sans-serif;
  padding: 8px 8px 8px 72px;
  text-decoration: none;
  font-size: 25px;
  /*color: #a6acaf;*/
  color: #b0afaf;
  display: block;
  transition: 0.3s;
  border: none;
  background: #3a4f67;
  font-weight: 900;
}

.link:hover {
  color: white;
  text-shadow: 0 0 10px white;
}

#button1 {
  font-size: 40px;
}

.navigation .end-nav {
  top: 0;
  right: 25px;
  margin-left: 30px;
  font-size: 24px;
  position: absolute;
}

.menu-bar {
  margin-top: 35px;
  width: 75px;
  cursor: pointer;
}

.menu-icon {
  width: 75px;
}

/*====< toggler >====*/

:root {
  --height: 20px;
  --width: 40px;
}

.rainbow-checkbox {
  cursor: pointer;
  margin-left: 15px;
}

.rainbow-checkbox input {
  width: 0;
  height: 0;
  margin: 0;
  position: absolute;
}

.rainbow-checkbox span {
  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--width);
  padding: 1px;
  background-size: 200%;
  background-color: #fff;
}

.rainbow-checkbox span:before {
  content: '';
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: var(--width);
}

.rainbow-checkbox span:after {
  content: '';
  display: block;
  width: var(--height);
  height: 100%;
  background-color: #8a8989;
  border-radius: 50%;
  position: relative;
  transition: right .2s ease-in-out;
  right: 0;
  background-size: 500%;
}

.rainbow-checkbox input:checked + span {
  /*background-image: linear-gradient(90deg, #1E00FF, #FF0061 12%, #E1FF00 24%, #00FF9E 36%, #1E00FF 48%, #FF0061 60%, #E1FF00 72%, #00FF9E 84%, #1E00FF 100%);*/
  background-color: #fff;
  animation: slide-bg 4s linear infinite;
}

.rainbow-checkbox input:checked + span:after {
  right: calc(-100% + var(--height));
  /*background-image: linear-gradient(90deg, #1E00FF, #FF0061 12%, #E1FF00 24%, #00FF9E 36%, #1E00FF 48%, #FF0061 60%, #E1FF00 72%, #00FF9E 84%, #1E00FF 100%);*/
  background-color: #3a4e67;
  animation: slide-bg2 16s linear infinite;
}


@keyframes slide-bg {
  to {
    background-position-x: 200%;
  }
}

@keyframes slide-bg2 {
  to {
    background-position-x: -500%;
  }
}